# Server Configuration
PORT=3001
CLIENT_URL=http://localhost:3000

# JWT Configuration
JWT_SECRET=your-secret-key

# Firebase Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_CLIENT_EMAIL=your-client-email 